#nav {
  display:flex;
  justify-content: space-between;
}

ul,li {
  list-style: none;
}

.body-container {
  /* background-color: violet; */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.body-top-half {
  background-color: white;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .content-top-half {

} */

.twitterIcon-bird {
  position: absolute;
  right: 0;
  width: 50%;
  max-width: 500px;
  z-index: 9;
  align-self: center;
}

.body-lower-half {
  background-color: #1da1f2;
  flex-basis: 50%;
  overflow: hidden;
  color: white;
  display: flex;
  justify-content: center;
}

.bottom-list {
  display: flex;
  flex-direction: column;
  align-self: center;
  position: relative;
  z-index: 10;

}
.sup-container {
  border-bottom: .1px solid grey;
  padding: 5px;
  background-color: rgb(246,248,250);
  display: flex;
  align-items: center;
}

.content-container {
  display:flex;
  flex-direction: column;
  margin-left: 10px;
  max-width: 400px;
}

.username {
  display: flex;
  align-items: center;
}

.profile-image {
  max-width: 50px;
  min-width: 50px;
  border-radius: 50%;
}
.image-container {
  margin-bottom: 15px;
}
p {
  margin-top: 0px;
}

a {
  text-decoration: none;
  color: black;
}
.dropbtn {
  background-color: #1da1f2;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: fixed;
  display: block;
  top: 10px;
  right: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #1da1f2;
}

.btn {
  background: #1da1f2;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 400px;
  margin: 10px;
}

.btn:hover {
  background: #1da1f2;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn2 {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #1da1f2;
  font-size: 20px;
  background: #ffffff;
  padding: 10px 20px 10px 20px;
  border: solid #0fa3ff 2px;
  text-decoration: none;
  width: 400px;
  margin: 10px;

}

.btn2:hover {
  background-image: linear-gradient(to bottom, rgb(190, 190, 190), rgb(190, 190, 190));
  text-decoration: none;
}

@media screen and (min-width:930px) {
  .content-container{
    max-width: 800px;
  }
  .image-container {
    margin-bottom: 5px;
  }
}